body {
    background: #069cb5;
    display: grid;
    place-items: center;
    height: fit-content;
    font-family: system-ui;
    overflow-x: hidden; /* Evita a rolagem horizontal  */
    overflow-y: hidden; /* Remove a barra de rolagem vertical  */
    background: url('fundo-azul.png') no-repeat center center fixed;
    background-size: 100%;
    background-repeat: repeat; /* Faz a imagem cobrir todo o fundo */
}
header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: system-ui;
}
#section1{
    position: center;
    font-family: system-ui;
    display: flex; /* Torna o section um flex container */
    flex-direction: row; /* Organiza conteúdo verticalmente */
    justify-content: space-between; /* Centraliza o conteúdo verticalmente */
     /* Centraliza o conteúdo horizontalmente */
    color: white;
    background: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    width: 37%;
    height: 93%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(6, 6, 22, 0.384);
}
#outsection {
    background: #2d2d2d;
    display: flex; /* Torna o section um flex container */
    flex-direction: column; /* Organiza conteúdo verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    /* box-shadow: 5px 5px 10px rgba(6, 6, 22, 0.384); */
     /* Certifique-se de que a altura da div seja suficiente para a centralização */
}
#intersection{
    position: center;
    font-family: system-ui;
    display: flex; /* Torna o section um flex container */
    flex-direction: column; /* Organiza conteúdo verticalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    color: white;
    background: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 350px;
    margin: auto;
    /* box-shadow: 5px 5px 10px rgba(6, 6, 22, 0.384); */
}
section div {
    font-family: system-ui;
    display: flex; /* Torna o section um flex container */
    flex-direction: column; /* Organiza conteúdo verticalmente */
    justify-content: center;
    text-align: center;
    color: white;
    padding: 5px;
    width: 450px;
    margin-bottom: 10px;
    background-color: #373737;
    border-radius: 5px;
}
#MotivoOS{
    text-align: left;
    place-items: left;
    color: white;
    width: 80%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Solicitante{
    text-align: center;
    place-items: center;
    color: white;
    width: 80%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#quantNum{
    text-align: center;
    place-items: center;
    color: white;
    width: 80%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#Data{
    text-align: center;
    place-items: center;
    color: white;
    width: 25%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#botaoGetApi{
    text-align: center;
    place-items: center;
    color: white;
    width: 25%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
#itemSearch{
    text-align: center;
    place-items: center;
    color: white;
    width: 80%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: #282828;
    border: 1px solid #131313;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

#itemSelect {
    background-color: #282828;
    color: white;
}

footer{
    display: inline flex; /* Ativa o layout flexível */
    justify-content: space-between; /* Espaço máximo entre os itens */
    align-content: center;
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 10px; /* Espaçamento interno */
    color: #131313;
    
    font-style: italic;
}

#sendButton {
    position: static;
    background-color: #0f26f4;
    border: none;
    color: #fff;
    border-radius: 5px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin: auto;
}

#sendButton:hover {
    background-color: #002a7e;
}
